[ng\:cloak],[ng-cloak],.ng-cloak
{
  display:none!important;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
  border:0;
  outline:none;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0;
}

body
{
  line-height:1;
  background-color:#000;
  font-family:'Segoe UI', Helvetica, Arial, sans-serif;
  letter-spacing:0;
  overflow-x:hidden;
}

html,body
{
  height:100%;
  margin:0 0 1px;
  padding:0;
}

p
{
  line-height:1.5em;
}

ol,ul
{
  list-style:none;
}

blockquote,q
{
  quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
  content:none;
}

table
{
  border-collapse:collapse;
  border-spacing:0;
}

main
{
  width:100%;
  max-width:1920px;
  min-width:1000px;
  overflow:hidden;
  position:relative;
  margin:0 auto;
}

header
{
  width:100%;
  max-width:1920px;
  min-width:1000px;
  height:90px;
  position:fixed;
  z-index:10;
}

header .pointer
{
  width:35px;
  height:17px;
  background-image:url(../img/nav-pointer.png);
  margin:0 auto;
}

.sections-wrapper
{
  position:relative;
  height:1080px;
  overflow:hidden;
}

section
{
  width:100%;
  position:absolute;
}

section .option
{
  float:left;
}

.select-arrows
{
  position:absolute;
  z-index:9;
  display:block;
  width:70px;
  height:70px;
}

h1
{
  text-align:center;
  font-size:40px;
}

p.main-text
{
  text-align:center;
}

.options-wrapper
{
  position:absolute;
  top:0;
  width:100%;
}

.thumbnails-wrapper
{
  height:144px;
  width:100%;
  background-color:#000;
  bottom:50px;
  position:absolute;
}

.thumbnails-wrapper .pointer
{
  position:relative;
  z-index:1;
  margin:0 auto;
}

.thumbnails-wrapper .carousel-wrapper
{
  width:905px;
  overflow:hidden;
  position:relative;
  top:-15px;
  margin:0 auto;
}

ul.thumbnails
{
  width:9999px;
  position:relative;
}

.thumbnail
{
  width:173px;
  height:124px;
  float:left;
  margin-right:10px;
  opacity:0.6;
  overflow:hidden;
}

.thumbnail .bleeding-text
{
  display:none;
}

.thumbnail.highlight
{
  opacity:1;
}

.continue-wrapper
{
  position:absolute;
  bottom:0;
  padding-bottom:25px;
  width:100%;
  text-align:center;
}

.continue-wrapper .label
{
  color:#FFF;
  height:30px;
  display:inline-block;
  font-size:18px;
  text-transform:uppercase;
}

.continue
{
  width:70px;
  height:70px;
  display:block;
  margin:0 auto;
}

h1 .small
{
  font-size:48px;
}

h1 .large
{
  font-size:112.5px;
}

h2
{
  text-align:center;
  font-size:48px;
}

nav
{
  width:100%;
  height:70px;
  z-index:10;
  background-color:#000;
  border-bottom:1px solid #ec008a;
  background-image:url(../img/nav-bg.png);
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
  margin:0 auto;
}

nav .inner
{
  width:1000px;
  position:relative;
  margin:0 auto;
}

nav .ff-logo
{
  position:absolute;
  top:0;
  left:0;
  width:275px;
}

nav .ff-preorder
{
  position:absolute;
  top:0;
  right:0;
  width:205px;
}

nav .title a
{
  color:#000;
  text-decoration:none;
}

.user-progress
{
  width:207px;
  height:100px;
  margin:0 auto;
}

.user-progress .title
{
  font-size:22px;
  text-align:center;
  position:relative;
  top:7px;
}

.user-progress ul
{
  position:relative;
  width:175px;
  top:7px;
  margin:0 auto;
}

.user-progress ul li
{
  float:left;
  display:block;
  margin-right:10px;
  background-image:url(../img/user-progress.jpg);
}

.user-progress ul li.on
{
  background-image:url(../img/user-progress-on-1.jpg);
}

.user-progress ul li a
{
  display:block;
  width:36px;
  height:35px;
  cursor:default;
}

.user-progress ul li.on a
{
  cursor:pointer;
}

#user-progress-2
{
  background-position:0 0;
}

#user-progress-3
{
  background-position:-40px 0;
}

#user-progress-4
{
  background-position:-236px 0;
}

#user-progress-5
{
  background-position:-120px 0;
}

.main-left-gradient,.main-right-gradient
{
  position:absolute;
  top:0;
  width:100px;
  height:1080px;
  background:gray;
  z-index:10;
  opacity:1;
}

.main-left-gradient
{
  left:0;
  opacity:0.5;
  background:linear-gradient(toright,black,transparent);
  display:none;
}

.main-right-gradient
{
  right:0;
  opacity:0.5;
  background:linear-gradient(toleft,black,transparent);
  display:none;
}

section.home
{
  background-size:100%;
  background-color:#000;
  background-image:url(../img/main2.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  top:70px;
}

section.home h1 .large
{
  font-size:155px;
}

section.home .main-heading-wrapper
{
  position:absolute;
  width:100%;
  height:175px;
  top:65px;
  z-index:1;
}

section.home .main-text-wrapper
{
  color:#FFF;
  position:absolute;
  width:100%;
  top:235px;
}

section.home .main-text-wrapper p
{
  width:900px;
  text-align:center;
  font-size:26px;
  line-height:1.5em;
  text-transform:none;
  margin:25px auto 0;
}

section.home .continue-wrapper
{
  position:absolute;
  bottom:0;
}

section.home.allow-fixed .continue-wrapper
{
  position:fixed;
}

section.home .mask
{
  width:100%;
  background-color:#000;
  opacity:0.4;
  position:absolute;
  top:0;
}

section.home .logo-mask
{
  width:100%;
  opacity:0.4;
}

section.home .logo-mask img
{
  width:100%;
  position:fixed;
  top:-210px;
}

section.location .main-heading-wrapper
{
  position:absolute;
  width:100%;
  height:175px;
  top:40px;
  z-index:2;
}

section.location .options-wrapper
{
  width:100%;
  overflow:hidden;
  position:relative;
  margin:0 auto 85px;
}

section.location.allow-fixed .options-wrapper
{
  position:fixed;
  top:70px;
}

section.location .options-wrapper > .inner
{
  width:100%;
  overflow:hidden;
  margin:0 auto;
}

section.location li.option
{
  width:1920px;
  overflow:hidden;
}

section.location .thumbnails-wrapper
{
  position:absolute;
  top:425px;
  width:100%;
  height:159px;
  background-color:#ebebeb;
  box-shadow:0 15px 25px #1d1d1d, 0 0 0 #1d1d1d;
  z-index:1;
}

section.location .thumbnails-wrapper ul li
{
  opacity:0.7;
  border:2px solid #ebebeb;
  height:130px;
  width:187px;
  margin-right:11px;
  background:#FFC0CB;
  -webkit-animation:fadeOutLocThumb .2s ease-in-out;
  -moz-animation:fadeOutLocThumb .2s ease-in-out;
  -o-animation:fadeOutLocThumb .2s ease-in-out;
  animation:fadeOutLocThumb .2s ease-in-out;
}

section.location .thumbnails-wrapper ul li.highlight
{
  opacity:1;
  border:2px solid #ed008c;
}

section.location .thumbnails-wrapper .pointer
{
  background-image:url(../img/thumb-pointer-white.png);
  width:45px;
  height:23px;
  top:124px;
}

section.location .text-overlay-wrapper
{
  width:100%;
  position:absolute;
  bottom:140px;
  height:15px;
  text-align:center;
  font-size:18px;
  z-index:1;
}

section.location.allow-fixed .text-overlay-wrapper.second
{
  position:fixed;
  opacity:1;
  -webkit-animation:show .2s ease-in-out;
  -moz-animation:show .2s ease-in-out;
  -o-animation:show .2s ease-in-out;
  animation:show .2s ease-in-out;
}

section.location .text-overlay-wrapper.first
{
  top:210px;
  bottom:auto;
  height:72px;
}

section.location .text-overlay-wrapper ul
{
  height:70px;
  overflow:hidden;
  position:relative;
  width:340px;
  margin:0 auto;
}

section.location .select-arrows-wrapper
{
  position:absolute;
  width:100%;
  height:70px;
  top:210px;
  margin:0 auto;
}

section.location .select-arrows.previous
{
  left:0;
}

section.location .select-arrows.next
{
  right:0;
}

section.location.allow-fixed .continue-wrapper
{
  position:fixed;
  z-index:2;
  opacity:1;
  background:linear-gradient(transparent,black);
  -webkit-animation:show .2s ease-in-out;
  -moz-animation:show .2s ease-in-out;
  -o-animation:show .2s ease-in-out;
  animation:show .2s ease-in-out;
}

section.cars
{
  background-image:url(../img/section-cars-bg.jpg);
  background-position:center center;
  background-attachment:fixed;
}

section.cars .select-arrows
{
  top:10px;
  background-color:#000;
}

section.cars h2
{
  color:#FFF;
  font-size:45px;
  position:relative;
  top:32px;
}

section.cars .options-wrapper
{
  width:100%;
  height:400px;
  overflow:hidden;
  position:relative;
  top:200px;
  background-color:#000;
}

section.cars .options-wrapper .inner
{
  width:1000px;
  overflow:hidden;
  margin:0 auto;
}

section.cars li.option
{
  width:1000px;
  height:400px;
  overflow:hidden;
}

section.cars .thumbnails-wrapper
{
  position:absolute;
  width:100%;
  height:159px;
  top:670px;
  bottom:0;
  background-color:#252525;
  box-shadow:0 15px 25px #1d1d1d, 0 0 0 #1d1d1d;
}

section.cars .thumbnails-wrapper ul li
{
  opacity:0.8;
  border:2px solid #252525;
  background-color:#000;
  width:187px;
  height:130px;
  -webkit-animation:fadeOut .2s ease-in-out;
  -moz-animation:fadeOut .2s ease-in-out;
  -o-animation:fadeOut .2s ease-in-out;
  animation:fadeOut .2s ease-in-out;
}

section.cars .thumbnails-wrapper ul li.highlight
{
  opacity:1;
  border:2px solid #ed008c;
  -webkit-animation:fadeIn .2s ease-in-out;
  -moz-animation:fadeIn .2s ease-in-out;
  -o-animation:fadeIn .2s ease-in-out;
  animation:fadeIn .2s ease-in-out;
}

section.cars .thumbnails-wrapper .pointer
{
  background-image:url(../img/thumb-pointer-grey.png);
  width:45px;
  height:23px;
  top:124px;
}

section.cars a.previous
{
  box-shadow:50px 0 50px 5px #000;
}

section.cars a.next
{
  box-shadow:-50px 0 50px 5px #000;
}

section.cars .specifcations-wrapper
{
  position:absolute;
  bottom:15px;
  right:5px;
  color:#FFF;
  font-size:24px;
  text-transform:uppercase;
}

section.cars table.specifications
{
  width:264px;
}

section.cars .specifications .label
{
  width:96px;
  text-align:right;
  vertical-align:middle;
  padding-right:15px;
}

section.cars .specifications .detail
{
  width:153px;
  background-image:url(../img/spec-detail-bg.png);
  background-repeat:no-repeat;
  text-align:center;
  vertical-align:middle;
}

section.cars .specifications td
{
  padding-bottom:13px;
  height:43px;
  line-height:46px;
}

section.cars .text-overlay-wrapper
{
  width:100%;
  position:absolute;
  bottom:140px;
  height:15px;
  text-align:center;
  font-size:18px;
}

section.cars.allow-fixed .continue-wrapper
{
  position:fixed;
  background:linear-gradient(transparent,black);
  z-index:2;
  opacity:1;
  -webkit-animation:show .2s ease-in-out;
  -moz-animation:show .2s ease-in-out;
  -o-animation:show .2s ease-in-out;
  animation:show .2s ease-in-out;
}

section.weather .options-wrapper > .inner
{
  width:1705px;
  overflow:hidden;
  left:50%;
  transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);
  -webkit-transform:translate(-50%,0);
  margin:0;
}

section.weather .options-wrapper ul.options li
{
  width:341px;
  opacity:0.8;
  -webkit-animation:fadeOut .2s ease-in-out;
  -moz-animation:fadeOut .2s ease-in-out;
  -o-animation:fadeOut .2s ease-in-out;
  animation:fadeOut .2s ease-in-out;
}

section.weather .options-wrapper ul.options li.highlight
{
  opacity:1;
  -webkit-animation:fadeIn .1ms ease-in-out;
  -moz-animation:fadeIn .1ms ease-in-out;
  -o-animation:fadeIn .1s ease-in-out;
  animation:fadeIn .1s ease-in-out;
}

section.weather .options-wrapper ul li.highlight .bleeding-text
{
  opacity:1;
  -webkit-animation:show .1ms ease-in-out;
  -moz-animation:show .1ms ease-in-out;
  -o-animation:show .1s ease-in-out;
  animation:show .1s ease-in-out;
}

section.weather .text-overlay-wrapper
{
  width:100%;
  position:absolute;
  top:500px;
  height:70px;
  text-align:center;
  font-size:18px;
  opacity:0;
  z-index:2;
}

section.weather .text-overlay-wrapper ul
{
  width:500px;
  position:relative;
  height:72px;
  overflow:hidden;
  margin:0 auto;
}

section.weather .select-arrows-wrapper
{
  position:absolute;
  width:100%;
  height:70px;
  top:500px;
  opacity:0;
  z-index:2;
  margin:0 auto;
}

section.weather .select-arrows-wrapper .select-arrows
{
  top:0;
}

section.weather .gradient-bottom
{
  bottom:0;
  height:400px;
  position:absolute;
  width:100%;
  background:linear-gradient(transparent,black);
  opacity:0.6;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}

section.weather.allow-fixed .continue-wrapper
{
  position:fixed;
  background:linear-gradient(transparent,black);
  opacity:1;
  -webkit-animation:show .2s ease-in-out;
  -moz-animation:show .2s ease-in-out;
  -o-animation:show .2s ease-in-out;
  animation:show .2s ease-in-out;
  z-index:2;
}

section.final
{
  background-color:#60002c;
  background:linear-gradient(#000000,#60002c);
  background-attachment:fixed;
}

section.final .main-heading-wrapper
{
  width:100%;
  height:175px;
  margin-top:100px;
  z-index:1;
}

section.final .generated-road-trip-wrapper
{
  width:680px;
  overflow:auto;
  margin:10px auto 100px;
}

section.final .generated-road-trip-wrapper .road-trip-name
{
  margin-bottom:30px;
}

section.final .generated-road-trip-wrapper .icon
{
  width:120px;
  margin:0 auto 30px;
}

section.final .generated-road-trip-wrapper .icon-large
{
  float:left;
  margin-right:77px;
  width:175px;
  text-align:center;
}

section.final .generated-road-trip-wrapper .icon-large h3
{
  font-size:25px;
  margin-bottom:5px;
}

section.final .generated-road-trip-wrapper .icon-large p
{
  font-size:18px;
}

.share-wrapper
{
  width:100%;
  height:67px;
  margin-bottom:25px;
  background-color:#a00049;
  background:linear-gradient(#fe5996,#a00049);
  box-shadow:0 15px 25px #490021, 0 0 0 #60002c;
}

.share-wrapper .label,.share-wrapper .field-email,.share-wrapper .button-share
{
  display:block;
  float:left;
  height:68px;
  line-height:68px;
  margin-right:15px;
  font-size:25px;
}

.share-wrapper .button-share
{
  width:575px;
  float:none;
  margin:0 auto;
}

.share-wrapper .button-share a
{
  color:#FFF;
  text-decoration:none;
}

.share-wrapper .field-email
{
  width:320px;
  height:30px;
  line-height:30px;
  border-radius:6px;
  margin-top:14px;
  margin-bottom:14px;
  color:gray;
  border-style:none;
  padding:7px 10px 3px;
}

section.final .terms-text-wrapper p
{
  width:100%;
  font-size:14px;
  text-align:justify;
}

a.previous
{
  left:0;
  background-image:url(../img/arrow-prev.png);
}

a.next
{
  right:0;
  background-image:url(../img/arrow-next.png);
}

a.continue
{
  background-image:url(../img/arrow-cont.png);
}

.clear
{
  clear:both;
}

.pink,.fnt-col-pink
{
  color:#ed008c;
}

.white,.fnt-col-white
{
  color:#FFF;
}

.fnt-col-dark-red
{
  color:#510026;
}

.uppercase,.fnt-case-upper
{
  text-transform:uppercase;
}

.terms-link
{
  color:#FFF;
  text-decoration:underline;
}

.browsehappy
{
  display:block;
  width:100%;
  height:100px;
  background-color:#f2dede;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:22px;
  line-height:1.4;
  color:#333;
  vertical-align:middle;
  margin:0 0 10px;
}

.browsehappy span
{
  vertical-align:middle;
  background:url(https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png) no-repeat;
  height:64px;
  width:64px;
  display:inline-block;
  margin:20px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.thumbnail.highlight .bleeding-text
{
  display:block;
}

section .inner,.options,.option,section.weather .text-overlay-wrapper ul li
{
  position:relative;
}

.option img,.thumbnail img,nav .ff-logo img,nav .ff-preorder img,section.location .thumbnails-wrapper ul li img,section.location .text-overlay-wrapper ul li,section.cars .text-overlay-wrapper ul,section.cars .text-overlay-wrapper ul li,section.weather .options-wrapper
{
  width:100%;
}

.thumbnail.last,.user-progress ul li.last,section.final .generated-road-trip-wrapper .icon-large.last
{
  margin-right:0;
}

section.location,section.weather
{
  background-color:#000;
}

section.location .options-wrapper .mask,section.weather .options-wrapper .mask
{
  width:100%;
  background-color:#000;
  opacity:0.1;
  position:absolute;
  top:0;
  z-index:1;
}

section.location .thumbnails-wrapper .carousel-wrapper,section.cars .thumbnails-wrapper .carousel-wrapper
{
  width:1000px;
  top:-10px;
}

section.location .text-overlay-wrapper .title,section.location .text-overlay-wrapper p,section.weather .text-overlay-wrapper .title,section.weather .text-overlay-wrapper p
{
  line-height:1.3em;
}

section.location .text-overlay-wrapper.second,section.weather .continue-wrapper,100%
{
  opacity:0;
}

section.location .select-arrows-wrapper .inner,section.weather .select-arrows-wrapper .inner
{
  width:1000px;
  height:70px;
  margin:0 auto;
}

section.location .continue-wrapper,section.cars .continue-wrapper
{
  opacity:0;
  padding-top:20px;
}

section.cars .main-heading-wrapper,section.weather .main-heading-wrapper
{
  position:absolute;
  width:100%;
  height:175px;
  top:40px;
  z-index:1;
}

section.weather.allow-fixed .text-overlay-wrapper,section.weather.allow-fixed .select-arrows-wrapper
{
  position:fixed;
  top:auto;
  bottom:135px;
  opacity:1;
  -webkit-animation:show .2s ease-in-out;
  -moz-animation:show .2s ease-in-out;
  -o-animation:show .2s ease-in-out;
  animation:show .2s ease-in-out;
}

.share-wrapper .inner,section.final .terms-text-wrapper
{
  width:1000px;
  margin:0 auto;
}

@media only screen and max-width 1280px {
  section.weather.allow-fixed .options-wrapper
  {
    position:fixed;
    top:70px;
  }
  
  section.weather .options-wrapper > .inner
  {
    width:1136px;
  }
  
  section.weather .options-wrapper ul.options li
  {
    width:227px;
  }
}

@media only screen and min-width 1680px {
  section.home .main-text-wrapper
  {
    top:245px;
    width:100%;
  }
  
  section.home .main-text-wrapper p
  {
    font-size:43px;
    width:1480px;
  }
}

@media only screen and min-device-width 768px and max-device-width 1024px {
  .main-left-gradient,.main-right-gradient
  {
    display:none;
  }
  
  section.location.allow-fixed .options-wrapper
  {
    position:relative;
    top:0;
  }
}